<%= form_with(model: change_order) do |form| %>
  <% if change_order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(change_order.errors.count, "error") %> prohibited this change_order from being saved:</h2>

      <ul>
        <% change_order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="space-y-5">
    <div>
      <%= form.label :amount_changed do %>
        <%= form.check_box :amount_changed, class: "mr-2" %> The total cost of the  project has changed
      <% end %>
    </div>

    <div>
      <%= form.label :material_changed do %>
        <%= form.check_box :material_changed, class: "mr-2" %> The materials ordered for the project have changed.
      <% end %>
    </div>


    <div>
      <%= form.label :work_order_changed do %>
        <%= form.check_box :work_order_changed, class: "mr-2" %> The scope of work for the project has changed.
      <% end %>
    </div>


    <div>
      <%= form.submit class: "button" %>
    </div>
  </div>
<% end %>
