<!DOCTYPE html>
<html>
  <head>
    <title>Notifications</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav>
  <ul>
    <li><strong><%= current_user&.email %></strong></li>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Notifications", notifications_path %></li>
    <li>
      <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to "Log in", new_user_session_path %>
      <% end %>
    </li>
  </nav>
    <%= yield %>
  </body>
</html>
